<!-- ============================================ -->
<!--                    CTA                       -->
<!-- ============================================ -->

<section id="cta-96">
    <div class="cs-container">
        <!-- Left Section -->
        <div class="cs-content">
            <span class="cs-topper">Are you ready to take the first step?</span>
            <h2 class="cs-title">Claim Your Peace of Mind</h2>
            <p class="cs-text">
                You can find freedom from the administrative shackles weighing you down. You've accomplished so much already. How much more can you do with more time, less stress, and a trusted partner? Take the first step today.
            </p>
            <a class="cs-button-solid" href="/contact/">Book a Free Discovery Call</a>
            <p class="cs-text">
                During this call, we'll get to know each other. We'll listen to your challenges and goals, and then we'll share how we can help you live your dreams. If we don't click, we'll part ways — no strings attached. We're excited to see what you can do, with or without us.
            </p>
        </div>
        <!-- Right Section -->
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="../../assets/images/cvas-cta-m.webp">
            <source media="(min-width: 601px)" srcset="../../assets/images/cvas-cta.webp">
            <img aria-hidden="true" loading="lazy" decoding="async" src="../../assets/images/cvas-cta.webp" alt="phone in hand" width="457" height="632">
        </picture>
    </div>
</section>